---
const { player } = Astro.props;
const { slug, data } = player;
const { name, dorsal, img } = data;
const imageUrl = `/images/${img}`;
---

<div
    class="relative w-[300px] h-[400px] bg-[#6f4695] shadow-md rounded-lg overflow-hidden text-white flex flex-col justify-end items-center"
>
    <img
        transition:name={`img-${slug}`}
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[250px] object-contain z-0"
        src={imageUrl}
        alt={name}
    />

    <div class="relative z-10 flex flex-col items-center pb-6">
        <h1 class="center text-8xl">{dorsal}</h1>
        <h2 class="uppercase text-3xl">
            {name}
        </h2>
    </div>
</div>